:host.ion-page {
    background-color: var(--ion-item-background);
    --ion-background-color: var(--ion-item-background);
}

.message-icon-middle {
    vertical-align: middle;
}
.mailFormatTxt{
    font-size: 11px;
    opacity: 0.5;
}