.image-card {
    margin: 0;
    border-radius: 12px;
    height: 95%;
    min-height: 120px;

    ion-buttons {
        position: absolute;
        left: 0;
        bottom: 0;

        .button {
            --color: #ffffff !important;
        }
    }
}

.post-list-content{
    text-align:justify;
}

.viewEyeCentered{
    margin-inline-start:0px;
}

.post-image, .post-full {
    ion-avatar {
        width: 32px;
        height: 32px;
    }
}
.leftIcon{
    padding-bottom: 10px;
}
.post-card{
    margin-top:27px;
}
.d-none{
    display:none;
}
ion-header{
    padding-bottom: 5px;
}

.theme-dark{
    ion-content{
        background-color: black;
        color: #ffffff;
    }
}