.explore-content{
    font-family: var(--ion-font-family, inherit);
}
ion-segment-button{
    text-transform: capitalize;
}
p{
    font-size:14px;
}
.external-links{
    display:grid;
    width:fit-content;
    padding: 5px 20px 0px 20px;
    font-size:10px;
    text-align:center;
}
.addBorder{
    border:5px solid #6495ED;
}
.contactUs{
    text-align:center;
}
.contactUs .contactUsChild{
    padding:4px 0px 4px 0px;
}
#Demo1 i{
    font-size:xxx-large;
}


