<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   

    

<div class="w3-col m3 explore-content">
    <ion-header class="ion-no-border">
        <ion-toolbar>
            <ion-segment-button (click)="borderAdd()"> 
                About us 
            </ion-segment-button>
        </ion-toolbar>
    </ion-header>
      <!-- Profile -->
    <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <p class="w3-center" style="transform: scale(1.3);padding-top:3px;"><img id="logoUs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUfvNaWRwyV93bpgJGU3jxEXFjNeYYaXvypw&usqp=CAU" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-university fa-fw w3-margin-right w3-text-theme"></i>Social app created for Unitbv-IESC</p>
         <p><i class="fa fa-laptop fa-fw w3-margin-right w3-text-theme"></i>Mobile OS - lab</p>
         <p><i class="fa fa-file fa-fw w3-margin-right w3-text-theme"></i>Created from 01.11.2020</p>
        </div>
    </div>
      <br>
      
      <!-- Accordion -->
    <div class="w3-card w3-round">
        <div class="w3-white">
          <ion-button (click)="toggleSpoiler('Demo1')" class="w3-block w3-theme-l1 w3-left-align"><i class="fa fa-external-link fa-fw w3-margin-right"></i>External Links</ion-button>
          <div id="Demo1" class="w3-hide w3-container">
            <div style="display:flex">
                <div class="external-links"><a href="https://github.com/TOMAROBERT"><i class="fa fa-github"></i></a>TOMAROBERT</div>
                <div class="external-links"><a href="https://github.com/TOMAROBERT/tk-social"><i class="fa fa-git"></i></a>Project Git</div>
                <div class="external-links"><a href="https://github.com/RAISADR"><i class="fa fa-github"></i></a>RAISADR</div>
            </div>
          </div>
          <ion-button (click)="toggleSpoiler('Demo2')" class="w3-block w3-theme-l1 w3-left-align"><i class="fa fa-phone-square fa-fw w3-margin-right"></i>Contact Us !</ion-button>
          <div id="Demo2" class="w3-hide w3-container">
            <div class="contactUs">
                <div class="contactUsChild"><i class="fa fa-envelope-o">   robert.o.toma@student.unitbv.ro</i></div>
                <div class="contactUsChild"><i class="fa fa-envelope-o">   iulia.draghiciu@student.unitbv.ro</i></div>
                <!-- <div class="contactUsChild"><i class="fa fa-google-plus-square">   Some other text..</i></div> -->
            </div>
          </div>
          <ion-button class="w3-block w3-theme-l1 w3-left-align" routerLink="/login"><i class="fa fa-sign-out fa-fw w3-margin-right"></i>Log out</ion-button>
        </div>      
    </div>
</div>  
  
